/**
 * BP Reshare button style
 */

.bp-reshare-icon {
	display: inline-block;
	width: 17px;
	height: 17px;
	background-color: transparent;
	background-repeat: no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px;
	background-position: center center;
	-webkit-transition: background .1s ease-in;
	transition: background .1s ease-in;
	position: relative;
	vertical-align: text-bottom;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

a.bp-reshare.add-reshare:hover .bp-reshare-icon,
a.bp-reshare.remove-reshare .bp-reshare-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%2346b450%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

a.bp-reshare.remove-reshare:hover .bp-reshare-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%23a00%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

a.bp-reshare.add-reshare:hover .count,
a.bp-reshare.remove-reshare .count {
	color: #46b450;
}

a.bp-reshare.remove-reshare:hover .count {
	color: #a00;
}

a.bp-reshare.disabled:hover .count,
a.bp-reshare.disabled.add-reshare:hover .count,
a.bp-reshare.disabled.remove-reshare:hover .count {
	color: inherit;
}

a.bp-reshare.disabled .bp-reshare-icon,
a.bp-reshare.disabled.add-reshare .bp-reshare-icon,
a.bp-reshare.disabled.remove-reshare .bp-reshare-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%23bbb%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

#buddypress .activity-header .reshare-time-since {
	font-style: italic;
	font-size: 90%;
}

#buddypress .activity-meta a.fav span.count,
#buddypress .activity-meta a.unfav span.count {
	background: #767676;
	color: #fff;
	font-size: 90%;
	margin-left: 2px;
	padding: 0 5px;
}

#buddypress ul.item-list ul#buddyreshare-activity-nav {
	border-bottom: 1px solid #eaeaea;
	margin: 20px 0 10px 20px;
}

#buddypress ul.item-list ul#buddyreshare-activity-nav li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	border: none;
}

#buddypress ul.item-list ul#buddyreshare-activity-nav a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}

#buddypress ul.item-list ul#buddyreshare-activity-nav:before,
#buddypress ul.item-list ul#buddyreshare-activity-nav:after {
	content: " ";
	display: table;
}

#buddypress ul.item-list ul#buddyreshare-activity-nav:after {
	clear: both;
}

#buddypress ul.item-list ul#buddyreshare-activity-nav li.selected {
	border: 1px solid #eaeaea;
	border-bottom-color: #fff;
	margin-bottom: -1px;
}

#buddypress ul.item-list ul#buddyreshare-activity-nav li.selected a {
	background: none;
	color: inherit;
	font-weight: bold;
	opacity: 0.8;
	outline: 0;
}

body.activity-permalink #buddypress div.buddyreshare-nav-content {
    margin: 20px 0 20px 20px;
    overflow: hidden;
    position: relative;
    width: auto;
    clear: both;
	background: none;
}

body.activity-permalink #buddypress #activity-stream div.buddyreshare-nav-content.activity-comments {
	border-left: none;
}

body.activity-permalink #buddypress div.buddyreshare-nav-content #message {
	margin-top: 15px;
}

body.activity-permalink #buddypress .buddyreshare-nav-content .load-more-users:not(.loading) {
	background: #f7f7f7;
	border: 1px solid transparent;
	padding: 10px;
	font-size: 110%;
	margin: 15px 0;
	text-align: center;
}

body.activity-permalink #buddypress .buddyreshare-nav-content .load-more-users:not(.loading):hover {
	background: #f4f4f4;
	border: 1px solid rgba(159, 209, 226, 0.3);
	font-style: italic;
}

body.activity-permalink #buddypress .buddyreshare-nav-content .load-more-users:not(.loading) {
	display: block;
}

body.just-me #activity-stream li .activity-reshared-by img {
	float: none;
}

body.just-me #activity-stream li .activity-reshared-by {
	line-height: 40px;
	overflow: hidden;
	display: table;
	width: inherit;
	background: #fff;
	margin-bottom: 1em;
	padding: 0 1em 0 0.5em;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	font-style: italic;
}
