/**
 * BP Reshare button style
 */

.bp-reshare-icon {
	display: inline-block;
	width: 17px;
	height: 17px;
	background-color: transparent;
	background-repeat: no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px;
	background-position: center center;
	-webkit-transition: background .1s ease-in;
	transition: background .1s ease-in;
	position: relative;
	vertical-align: text-bottom;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

a.bp-reshare.disabled .bp-reshare-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%23bbb%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

a.bp-reshare.add-reshare:hover .bp-reshare-icon,
a.bp-reshare.remove-reshare .bp-reshare-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%2346b450%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

a.bp-reshare.remove-reshare:hover .bp-reshare-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22%23a00%22%3E%3Cpath%20d%3D%22M18%208l-5%204v-2.99c-2.58%200.060-4.88%200.45-7%202.99%200.29-3.57%202.66-5.66%207-5.94v-3.060zM4%2014h11v-2l2-1.6v5.6h-15v-11h9.43c-1.83%200.32-3.31%201-4.41%202h-3.020v7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

a.bp-reshare.add-reshare:hover .count,
a.bp-reshare.remove-reshare .count {
	color: #46b450;
}

a.bp-reshare.remove-reshare:hover .count {
	color: #a00;
}
