#buddypress .bp-reshare-img{
	display:inline-block;
	background:url('../images/reshare.png') no-repeat;
	padding-left: 20px;
	text-indent: -9999px;
}

#buddypress .rs-count {
	background: #999;
	color: #fff;
	font-size: 90%;
	margin-left: 2px;
	padding: 0 5px;
}

body.activity-permalink #buddypress .bp-reshare-img {
	height:19px;
	vertical-align: middle;
}

#buddypress .bp-reshare-img.reshared,
body.activity-permalink #buddypress .bp-reshare-img.reshared{
	background-position:0 -15px;
}

#buddypress .bp-reshare-img.unshare{
	background:url('../images/unshare.png') no-repeat;
	background-position:0 -15px;
}

#buddypress .bp-reshare-img.loading{
	background:url('../images/loading.gif') no-repeat;
	background-position:0 0;
}

body.activity-permalink #buddypress .activity-list li .activity-content.reshared-list {
	padding-top:1em;
}

body.activity-permalink #buddypress .activity-list .reshared-list ul li{
	float:left;
	border-bottom:none;
}